extends layout 

block content 
    h1 Form 
    form(method="POST" action="/new")
        input(name= "author" placeholder="name" ) 
        input(name= "message" placeholder="message")
        button(name= "submit") submit