extends layout

block content
  h1 #{title}
  p You can add a message #[a( href='/new' ) here].
  each message in messages
    <br>
    p= message.author 
    p= message.message 
    p= message.date

